---
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import Page from '../../layouts/Page.astro';
import PostTable from '../../components/React/PostTable';
import PageFind from '../../components/PageFind.astro';


const posts = (await getCollection('blog', ({ data }) => {
  return data.isDraft !== true; })).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);



const metaData = {
	title: 'Posts',
	description: 'be written'
}
---

<Page title={metaData.title} description={metaData.description} >
	<div class="content-wrapper blog-page-wrapper" data-pagefind-ignore>

	<PageFind />

	<PostTable client:load posts={posts}>
	</div>


</Page>


