/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */


 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lora:wght@400;700&display=swap');


:root {
	--light: #ffffff;
	--dark: #000000;
  }
  
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


html {
	font-family: 'Inter', sans-serif;
	height: 100%;
	position: relative;
	background-color: var(--light);
	color: var(--dark);

}

body {
	margin: 0;
}

.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: auto;
	
}


main {
	margin: auto;
	word-wrap: break-word;
	overflow-wrap: break-word;
    padding-bottom: 100px;
	line-height: 1.5;
	flex: 1;
	max-width: 95rem;

}



h2, h3, h4 {
	font-family: 'Lora', 'Times New Roman', Times, serif;
	font-weight: 400;
}

h2 {
	font-size: 1.9rem;
	line-height: 120%;
}

h3 {
	font-size: 1.75rem;
}
.date {
	font-size: .75rem;
}
.helper-headline {
	font-size: .9rem;
}

a {
	color: var(--dark);
	text-decoration: underline;
	text-underline-offset: 4px;

}

a:focus, a:hover {
	text-decoration: none;
}
nav a {
	margin-right: 10px;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
content {
	line-height: 1.6;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
code {
	padding: 2px 5px;
	background-color: #f2f2f2;
}
pre {
	padding: 1rem;
}
pre > code {
	all: unset;
}
blockquote {
	border: 1px solid #999;
	color: #222;
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}


.tags {
	display: flex;
	gap: .5rem
}

.button {
	background-color: #000000;
	color: #fff;
	border-radius: 3rem;
	text-decoration: none;
	line-height: .1;
	border: 1px solid #000;
	transition: color .1s ease-in-out;
    transition: background-color .1s ease-in-out;

	&:hover {
		color: #000;
		border: 1px solid #000;
		background-color: white;

	}
}


.button--small {
	padding: .6rem .8rem;
	font-size: .9rem;


}

.button--large {
	padding: 2rem 4.2rem;
	font-size:  1.5rem;
	letter-spacing: 1px;


}