/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */


 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lora:wght@400;700&display=swap');


:root {
	--light: #ffffff;
	--dark: #000000;
  }
  
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

li,
ol,
ul {
	margin-left: .6rem;
  	padding-left: .2rem;
}


html {
	font-family: 'Inter', sans-serif;
	height: 100%;
	position: relative;
	background-color: var(--light);
	color: var(--dark);
	overflow-x: hidden;


}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	position: relative;
}

.fixed {
	position: fixed;


}





.container {
	display: flex;
	flex-direction: column;
	margin: auto;
	
}


main {
	margin: 0 auto;
	word-wrap: break-word;
	overflow-wrap: break-word;
	min-height: 66vh;
    padding-bottom: 80px;
	line-height: 1.5;
	max-width: 93rem;
	min-height: 75vh;

}



/* @media (max-width: 93rem) {

	main {
		margin:  0 3rem;

	}

} */

@media (max-width: 1000px) {

	main {
		padding-top: calc(80px)

	}

}




.content-wrapper {
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	grid-template-rows: auto;
	grid-auto-flow: row;
	grid-gap: 0 2rem;
	margin-bottom: 5rem

}



h1, h2, h3, h4 {
	font-family: 'Lora', 'Times New Roman', Times, serif;
	font-weight: 400;
	
}

h1 {
	font-size: clamp(1.4rem, 4vw, 2.5rem);
	line-height: 120%;
}

h2 {
	font-size: clamp(1.3rem, 2.5vw, 1.9em);
	line-height: 120%;
}

h3 {
	font-size: clamp(1.2rem, 2.2vw, 1.75em);
}

h4 {
	font-size: clamp(1.1rem, 2vw, 1.4em);
	font-weight: 500;
}

h5 {
	font-size: clamp(1.1rem, 2vw, 1.2em);
	font-weight: 700;
}

h6 {
	font-size: clamp(1rem, 1.8vw, 1.1em);
	font-weight: 700;
}

p {
	line-height: 1.9;
	margin: 1rem 0;
}


.article-content :is(h1, h2, h3, h4, h5, h6) {
	margin: .6rem 0;
	
}

li:has(p) > p {
	margin: 0;
  }
.date {
	font-size: .75rem;
}
.helper-headline {
	font-size: clamp(.7rem, 1vw, .9rem);
}

a {
	color: var(--dark);
	text-decoration: underline;
	text-underline-offset: 4px;

}

a:focus, a:hover {
	text-decoration: none;
}


textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}


img {
	max-width: 100%;
	height: auto;
}
code {
	padding: 2px 5px;
	background-color: #f2f2f2;
}
pre {
	padding: 1rem;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 1px solid black;
	color: #222;
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}

figure {

	&.larger-image {
		margin-left: -15%;
		width: 130% ;

		@media (max-width: 550px) {
			& {
				margin-left: 0;
				width: 100% ;
			} 
		}
	}

	& figcaption {
		color: #3C3C3C;
		font-size: .75rem;
		padding-bottom: .6rem;
		
		&:after {
			content: '';
			display: block;
			position: relative;
			width: 7rem;
			border-bottom: 1px solid black;
			margin-top: .8rem;

		}
	}
}

.tags {
	display: flex;
	flex-wrap: wrap;
	gap: .5rem
}

.button {
	background-color: #000000;
	color: #fff;
	border-radius: 3rem;
	text-decoration: none;
	line-height: .1;
	border: 1px solid #000;
	transition: color .1s ease-in-out;
    transition: background-color .1s ease-in-out;

	&:hover {
		color: #000;
		border: 1px solid #000;
		background-color: white;

	}
}

.button--small {
	padding: .6rem .8rem;
	font-size: .9rem;
}

.button--large {
	padding: 2em 4em;
	font-size:  clamp(1rem, 2vw, 1.5rem);
	letter-spacing: 1px;
}


/* Table */

table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
  }
  
  /* Styling for table headers */
  th {
	color: #4F4F4F;
	font-size: .9rem;
	font-weight: 400;
	padding: .4rem;
	border-bottom: 1px solid #000;
  }
  
  /* Styling for table cells */
  td {
	padding: .6rem .4rem ;
	font-size: .95rem;
	font-family: 'Lora';
  }
  

.data-footnote-backref {
	color: gray;
	text-decoration: none;
	font-size: .9rem;

	&:hover {
		color: black
	}
 }
  
sup :is(a)  {
	color: gray;
	text-decoration: none;
	font-size: .7rem;

	&:hover {
		color: black
	}

	&:after {
		content: ']';
	}

	&:before {
		content: '[';
	}
}

.footnotes {
	margin-top: 4rem;
	font-size: .8rem;
	color: #363636;

	& #footnote-label {
		display: none;
	}
	
	&:before {
		display: block;
		content: "";
		width: 14rem;
		border-top: 1px solid black;
		padding-bottom: 1.25rem;

	}

	& p {
		line-height: 1.4
	}

	& ol {
		list-style: none;
		margin-left: .6em;
	  
		& li {
		  counter-increment: custom;
		  margin: .4rem 0;
		  position: relative;
	  
		  &:before {
			position: absolute;
			left: -.6rem;
			font-size: .7rem;
			content: counter(custom) "";
		  }
	  
		  &:first-child {
			counter-reset: custom;
		  }
		}
	  }
	}

/* Post Table */

.table {
	margin: 0;
	padding: 0;
	display: grid;
	gap: .9rem 0;

	& ul, & li {
		margin-left: 0;
		padding-left: 0;
	}
}

	.row {
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	width: 100%;
	grid-template-rows: 1fr;
	grid-auto-flow: row;
	grid-gap: 0 2rem;

		&.row-headline {
			margin-bottom: .4rem;
		}

		& .headline {
			color: #4F4F4F;
			font-size: .9rem;
			line-height: 2;
		}

		& .row-title {
			grid-area: 1 / 3 /  3 / 9;

			&.cell-title {
				font-size: .95rem;
				font-family: 'Lora';
				line-height: 1.5;
				
				& a {
					text-decoration: none;
				}
			}
		}

		& .row-tags {
			grid-area: 1 / 9 /  1 / 13;

			&.cell-tags {
				display: flex;
				flex-wrap: wrap;
				list-style-type: none;

				& .tag-in-post-table {
					&:not(:last-child):after {
						content: ',';
						margin-right: .4rem;
					}

				& .tag-pseudo-link {
					font-size: .85rem;
					text-decoration: underline;
					text-underline-offset: 3px;
					cursor: pointer;

					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}

		& .row-date {
			grid-area: 1 / 13 /  1 / 15;

			&.cell-date {
				font-size: .9rem;
			
		} }

		& hr {
			grid-area: 2 / 3 /  3 / 15;
			color: #000
		}

	}

	.blog-page-wrapper {
		gap: 1.9rem 0;

		.selected-tags-container {
			grid-area: 2 / 3 /  span 1 / 15;
			align-items: flex-start;
		}
	
		.post-table {
			grid-area: 3 / 1 /  span 1 / 17;
		}
	
		#search {
			grid-area: 1 / 3 /  span 1 / 15;
		}

	}



	/* Projects Table */

	.project-table {
		grid-area: 1 / 3 /  span 1 / 15;
		display: grid;
		grid-template-columns: 1fr 13fr;

		& .project-writings-hr {
			grid-area: 2 / 1 /  span 1 / 17;
		}

		& .table__lang {
			grid-area: 1 / 1 /  span 1 / span 1;

			& .headline {
				color: #4F4F4F;
				font-size: .9rem;
				line-height: 2;
			}

			& .lang-list {
				margin-top: .4rem;
				display: grid;
				grid-gap: 0.9rem 0;

				& .lang-cell {
					cursor: pointer;
					transition: font-weight .1s ease-in-out;

					&:hover {
						color: #6b6b6b;
					}

					&.active {
						font-weight: 600;
					}
				}
			}
		}
		
		& .headline-border {
			display: flex;
			align-items: center;
			justify-content: space-between;
			cursor: pointer;
		}

		& .project-cell-small {
			font-size: .95rem;
		}

		& .project-cell-title {
			font-size: .95rem;
			font-family: 'Lora';
			line-height: 1.5;
			
		}
	}


	
		.projects-row-title {
			grid-area: 1 / 1 / span 1 / span 7;
				}
				
		.projects-row-publisher {
			grid-area: 1 / 8 / span 1 / span 3;
				}

		.projects-row-media {
			grid-area: 1 / 11 / span 1 / span 3;
				}
		.projects-row-date {
			grid-area: 1 / 14 / span 1 / span 3;
				}



	/* TAGS */

	.tag {
        font-size: clamp(.65rem, .6vw, .75rem);
        text-decoration: none;
		white-space: nowrap;
		cursor: pointer;
        padding: .2em .6em;
        border-radius: .6em;
        transition: color .2s ease-in-out;
        transition: background-color .2s ease-in-out;


        &.black {
            color: #fff;
            border: 1px solid #fff;

            &:hover {
                color: #000;
                background-color: #fff;
            }
        }
        &.white {
            border: 1px solid #000;

            &:hover {
                color: #fff;
                background-color: black;
            }
        }

		&.black-filled {
            border: 1px solid #000;
			color: #fff;
			background-color: #000;

            &:hover {
                color: #000;
                background-color: #fff;
            }
        }
    }
