---
import Page from "../layouts/Page.astro";
import {Content, frontmatter} from '../info/about-data.md'

const metaData = {
	title: '404',
	description: 'sth went wron'
}

---

<Page title={metaData.title} description={metaData.description} >
	<div class="content-wrapper error-page">
        <h1 class="error-headline">bow wow</h1>
        <p class="larger-pargh">404 Page not found</p>

        <div class="img-container"><a href="/"><img src="/web-graph-elements/dogo.webp" alt="sleeping dog"></a></div>
	</div>

	
	

</Page>

<style>
	.error-page {
		display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        column-gap: 1rem;
	}

    .error-headline {
        font-size: clamp(3rem, 6vw, 6rem)
    }

    .larger-pargh {
        font-size: clamp(1rem, 1vw, 2rem)
    }

    .img-container {
        width: 60svw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

	

</style>
