---

---

<div id="search" class="ml-3 p-4 -mt-8"></div>

<script>
	window.addEventListener('DOMContentLoaded', (event) => {
	  new PagefindUI({ 
        element: '#search', 
        resetStyles: true,
        showImages: false,
        translations: {
        placeholder: "yyyy... ( ͡°⊖ ͡°)",
        zero_results: "Couldn't find [SEARCH_TERM]"
    }
});
	});

</script>

<style is:global>

#search {


  & form {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:before {
      left: 26%


    }

    & button {
      right: 25%


    }
  }




  & input {
    border: none;
    border-bottom: 1px solid #525252;
    border-radius: 0px;
    font-weight: 400;
    max-width: 50%;
  }

  & .pagefind-ui__result {
    border-top: 1px solid #f3f3f3;
    border-bottom: none;
    padding: .5rem 0;
  }

  & .pagefind-ui__message {
    font-size: 1rem;
    font-weight: 400;

  }

  & .pagefind-ui__result-title, .pagefind-ui__result-link {
    color: #000000;
    font-family: 'Lora', serif;
    font-weight: 400;
  }

  & .pagefind-ui__result-excerpt {
    color: #717171;
    font-family: 'Inter';


  }
}



</style>