---

---
<div id="search" class="ml-3 p-4 -mt-8"></div>

<script>
	window.addEventListener('DOMContentLoaded', (event) => {
	  new PagefindUI({ 
        element: '#search', 
        resetStyles: false,
        translations: {
        placeholder: "yyyy... ( ͡°⊖ ͡°)",
        zero_results: "Couldn't find [SEARCH_TERM]"
    }
});
    });

    window.addEventListener('keydown', (event) => {
        if (event.key === '/' || event.key === '.') {
            console.log('you pressed the slash');
            event.preventDefault();
            document.querySelector('div#search input').focus();
        }
    });
</script>
