---

---

<div id="search" class="ml-3 p-4 -mt-8"></div>

<script>
	window.addEventListener('DOMContentLoaded', (event) => {
	  new PagefindUI({ 
        element: '#search', 
        resetStyles: true,
        showImages: false,
        translations: {
        placeholder: "yyyy... ( ͡°⊖ ͡°)",
        zero_results: "Couldn't find [SEARCH_TERM]"
    }
});
	});

</script>

<style is:global>

#search {
  font-weight: 400;

  & input {
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0px;
  }

  & .pagefind-ui__result {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;;
  }

  & .pagefind-ui__message {
    font-size: 1.1rem;

  }

  & .pagefind-ui__result-title {
    font-family: 'Lora', serif;
  }
}



</style>