---

---

<div id="search" class="ml-3 p-4 -mt-8"></div>

<script>
	window.addEventListener('DOMContentLoaded', (event) => {
	  new PagefindUI({ 
        element: '#search', 
        resetStyles: true,
        showImages: false,
        translations: {
        placeholder: "yyyy... ( ͡°⊖ ͡°)",
        zero_results: "Couldn't find [SEARCH_TERM]"
    }
});
	});

</script>

<style is:global>

#search {
}
</style>