---

import Page from '../layouts/Page.astro';


const metaData = {
	title: 'Posts',
	description: 'be written'
}


---
<Page title={metaData.title} descirption={metaData.title} >
    <form class='search-bar' 
    >
    <input 
    class='search-bar__input' 
    placeholder='Search...'
    />
<button type="submit" 
class='search-bar__button'>Search</button>
</form>


    <div>Arek</div>

</Page>
