---
import Page from "../layouts/Page.astro";
import SubscribeComp from "../components/reactComponents/SubscribeComp";


const metaData = {
	title: 'Subscribe',
	description: 'be written'
}

---

<Page title={metaData.title} description={metaData.description} >
    <div class="content-wrapper">
	<SubscribeComp client:visible />
	
	
</div>
</Page>

<style>
		.content-wrapper {
		display: flex;
        align-items: center;
        justify-content: center;
        height: 46vh;
		margin: 3rem 0;
	}



</style>
