---
const today = new Date();
---

<footer>
	⫘⫘⫘  {today.getFullYear()}  // <a href="/rss.xml" target="_blank">Subscribe to RSS</a> ⫘⫘⫘
</footer>


<style>

	footer {
		text-align: center;
		padding: 1rem;
		align-self: end;
		font-size: clamp(.7rem, 1vw, .9rem);
		color: #393939
	}

</style>