---
const today = new Date();
---

<footer>
	⫘⫘⫘⫘  {today.getFullYear()}  // <a href="/rss.xml" target="_blank">Subscribe to RSS</a> ⫘⫘⫘⫘
</footer>


<style>

	footer {
		text-align: center;
		padding: 1rem;
		align-self: end;
		font-size: .9rem;
		color: #2b2b2b
	}

</style>