---
import HeaderLink from './HeaderLink.astro';
import {frontmatter} from '../info/about-data.md'
---

<header>
	<div class='header__container'>
		<a class='header__logo' href="/">
			<img src="/logo_black_crop.png" alt="logo">
		</a>
	<nav class='header__main-nav'>
		<HeaderLink class="nav_link" href="/blog">Blog</HeaderLink>
		<HeaderLink class="nav_link" href="/about">About</HeaderLink>
		<HeaderLink class="nav_link" href="/projects-writings">Project/Writings</HeaderLink>
		<HeaderLink class="nav_link" href="/subscribe">Subscribe</HeaderLink>
		<a class="nav_link" href={frontmatter.twitterLink} target="_blank">Twitter.</a>
	</nav>
	</div>
	<img  class='top-image' src="/Topfossil-min.png" alt="fosiil">
</header>
<style>

	.header__container {
		max-width: 95rem;
		margin: 0.5rem auto;

		display: flex;
		gap: 1.8rem;
		align-items: flex-start;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.header__logo {
		& img {
			height: 102px;
			width: 100%;
		}
	}
	.header__main-nav {
		display: flex;
		gap: 1.5rem;
		flex-wrap: wrap;
	}

	.nav_link {
		text-decoration: none;
		text-transform: lowercase;
		transition: text-decoration 1s ease-in-out;

		&:hover {
			text-decoration:underline;
		}

		&.active {
			font-weight: bolder;
			text-decoration:underline
		}
}
	
		.top-image {
			position: absolute;
			top: 0;
			right: 0;
			z-index: -3;
		}

</style>
