---
import HeaderLink from './HeaderLink.astro';
import {frontmatter} from '../info/about-data.md'
---

<header>
	<div class='header__container'>
		<a class='header__logo' href="/">
			<img src="/logo_black_crop.png" alt="logo">
		</a>
	<div class="hamburger-menu">
		<span class="bar"></span>
		</div>
	<nav class='header__main-nav'>
		<HeaderLink class="nav_link" href="/blog">Blog</HeaderLink>
		<HeaderLink class="nav_link" href="/about">About</HeaderLink>
		<HeaderLink class="nav_link" href="/projects-writings">Project/Writings</HeaderLink>
		<HeaderLink class="nav_link" href="/subscribe">Subscribe</HeaderLink>
		<a class="nav_link" href={frontmatter.twitterLink} target="_blank">Twitter.</a>
	</nav>
	</div>
	<img  class='top-image' src="/circle-top-edited.png" alt="fosiil">
</header>


<script defer>
	const hamburgerMenu = document.querySelector('.hamburger-menu') 
	const navLinks = document.querySelector('.header__main-nav')
	const body = document.body;
	const header = document.querySelector('.header__container')


	hamburgerMenu.addEventListener('click', () => {
  	hamburgerMenu.classList.toggle('is-open')
	navLinks.classList.toggle('hidden')
	body.classList.toggle('overflow')
	header.classList.toggle('fixed')
	})



</script>
<style>

	.header__container {
		max-width: 93rem;
		margin: 0 auto;
		padding: 0.5rem 0;
		display: flex;
		background-color: #fff;
		gap: 1.8rem;
		align-items: flex-start;
		justify-content: space-between;
	}



	.header__logo {
		height: 108px;
		flex-grow: 1;

		& img {
			display: block;
			width: auto;
			height: 100%;
		}
	}

	.hamburger-menu {
	display: none;
    z-index: 100;
    cursor: pointer;
	position: relative;
	margin: auto 0;
    width: 24px;
    height: 18px;
    pointer-events: all;
	margin-right: 2rem;
	padding-bottom: 2rem;


    & .bar,
    & .bar:after {
        content: '';
        position: absolute;
        display: block;
        background-color: #000;
		height: 3px;
        width: 100%;
		transition: transform .3s ease-in-out;

    }
    & .bar {
        top: 0rem;
    }
    & .bar:after {
        top: 10px;
    }

	&.is-open {

        .bar {
          transform: rotate(45deg);
          top: 5px;

          &:after {
            top: 0;
            transform: rotate(-90deg);
          }
        }
      }


}



	.header__main-nav {
		display: flex;
		gap: 1.5rem;
		flex-wrap: wrap;
	}


	@media (max-width: 1000px) {

		.header__container {
		position: fixed;
		width: 100%;
		padding-right: 1.5rem;


	}


		.header__main-nav {
		align-items: flex-end;
		position: fixed;
		top: calc(80px + 1rem);
		right: 0;
		width: 100%;
		height: calc(100svh - 80px + 1rem);
		background-color: #fff;
		gap: 1.5rem;
		flex-direction: column;
		touch-action: none;
		padding: 2rem;
		transform: translate(102%, 0);
		transition: transform .1s ease-in-out;


		&.hidden {
			transform: translate(0, 0);

		}
	}

	.hamburger-menu {
		display: block;

	}

		
	.header__logo {
		height: 80px;
		}
	}




	.nav_link {
		text-decoration: none;
		text-transform: lowercase;
		transition: text-decoration 1s ease-in-out;

		&:hover {
			text-decoration:underline;
		}

		&.active {
			font-weight: bolder;
			text-decoration:underline
		}
}
	
		.top-image {
			position: absolute;
			top: -15px;
			right: -60px;
			z-index: 1;
			rotate: 5deg;


			
		}

		@media (max-width: 1804px) {
			.top-image {
				rotate: 10deg;
				right: -100px;
			}
		}

		
		@media (max-width: 1604px) {
			.top-image {
				rotate: 10deg;
				right: -120px;
			}
		}

		@media (max-width: 1304px) {
			.top-image {
				rotate: 14deg;
				right: -140px;
			}
		}

		@media (max-width: 1000px) {
			.top-image {
				display: none;
			}
		}





</style>
