---

---

<div class='subscribe-container'>
    <h2>Join newsletter (⁄ ⁄•⁄ω⁄•⁄ ⁄) </h2>
<form class='subscribe'>
    <input class="add-email" type="email" placeholder="Email" required >
    <button class='button button--large' type='submit'>Subscribe</button>
</form> 
</div>


<style>
    .subscribe-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 3.75rem;

    }

    form {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.9rem;



    }

    input {
        border: none;
        border-bottom: 1px solid #000;
        font-size: clamp(1rem, 1.2vw, 1.25rem);
        padding: .8rem 1rem;
        width: clamp(15rem, 20vw, 40rem);

    }


            
    @media (max-width: 1000px) {
            form {
                flex-direction: column;
            }

            input {
                width: 80vw
                
            }
            
        }

    
</style>

