---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE } from '../consts';

const {title, description } = Astro.props

function generatePageTitle(title) {
  return title === SITE_TITLE ? title : title + " | " + SITE_TITLE;
}


console.log()

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={generatePageTitle(title)} description={description} />
		<link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
		<script defer src="/pagefind/pagefind-ui.js" type="text/javascript"></script>
		<!-- <script defer src="src/js/middleImageSizeFunction.js" type="text/javascript"></script> -->
		<script defer>
			window.addEventListener('DOMContentLoaded', function() {
				const mainContainer = document.querySelector('main');
				const graphicElement = document.querySelector('.middle-image-container');

				function updateHeight() {
					const mainHeight = mainContainer.offsetTop + mainContainer.offsetHeight;
					const graphicContainerHeight = mainHeight - 528;
					graphicElement.style.height = `${graphicContainerHeight + 105}px`;
				}

				// Initial call to update the height
				updateHeight();

				// Call updateHeight() whenever the window is resized
				window.addEventListener('resize', updateHeight);
			});
		</script>
		
	</head>

	<body>

		<div class="container">
		<Header title={SITE_TITLE} />
		<main>
            <slot />
		</main>
		<Footer />
		</div>
		<div class="middle-image-container">
		</div>
	</body>
</html>





<style>

	.middle-image-container {
		position: absolute;
		top: 33rem;
		left: 0;
		z-index: 100;
		background-image: url('/MiddleTower-min.png');
		width: 300px;
		height: 200px

	}

</style>